.idea
*.iml
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

in-gr8conf-gebdemo/.asscache
in-gr8conf-gebdemo/.gradle
in-gr8conf-gebdemo/build

